
.button{
    padding: 14px 8px;
    background: #36F5C7;
    border-radius: 8px;
    cursor: pointer;
    flex-wrap: wrap;
    flex: 0.12;
    margin: 0 10px 0 40px;
}

@media (max-width: 995px){  
    .button{
        margin-top: 25px;
        flex: 0.9;
        margin-left: 0;
    }
}