

.box{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 0.7;
}

.box span{
    position: relative;
}

.box svg{
    height: 80px !important;
}

.calorie{
    position: absolute;
    left: 28%;
    bottom: 25%;
}

@media (max-width: 995px){
    .box{
        flex: 100%;
        justify-content:center;
    }
}
