.container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 501px;
    margin: 5% 0;
    background-color: #101317;
    box-shadow: 2px 3px 42px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 40px 30px;
    overflow: auto;
    overflow-x: hidden;
}